body{
    margin: 0;
}
.big_black{
    width: 700px;
    height: 500px;
    background: black;
    padding: 5px;
}
.box{
    width: 25%;
    height: 100%;
}
.orange{
    width: 100%;
    height: 20%;
    background: orange;    
}
.flex{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    
}
.red{
    background: red;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.little_black{
    background: black;
}
