body{
margin: 0;
padding: 0;
}
a{    
    text-decoration: none;
    color: white;
}
.ukr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_top_navi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu{
    width: 650px;
    font-size: 11px;
    background: white;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    display: inline;
}
.wrap{
    flex-wrap: wrap;
    align-content: center;
}
.logo{
    width: 100%;
    height: 88px;
    background: rgb(128, 24, 24);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_left_pic{
    margin-top: 30px;
    margin-left: 40px;
}
.LOGO{
    color: white;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.LOGO_STICKS{
    width: 30px;
    height: 15px;
    
}
.logo_left_icon{
    width: 23px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    
}
.logo_center{
    width: 380px;
        display: flex;
        align-items: center;
}
.UKR_PRAVDA{
    color: white;
    font-size: 35px;
}
.aside1{
    font-size: 12px;
}
.logo_right{
    width: 145px;
    font-size: 12px;
    margin-top: 35px;
    margin-right: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
}
.menu2{
    width: 800px;
    font-size: 13px;
    background: white;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.COVID_statistic{
    margin: 0 40px
}
.COVID_title{
    color: rgb(141, 17, 17);
}
.COVID{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.COVID_BOX{
    color: black;
    width: 270px;
    height: 45px;
    border: 1px solid silver;
    padding: 15px;
}
.title{
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.prescription{
    width: 270px;
}
.result{
    font-size: 35px;
}
.grafics{
    padding-bottom: 10px;
    display: flex;
    flex-direction: inherit;
}
.data_source{
    font-size: 14px;
    color: black;
}
.grafic{
    width: 4px;
    height: 25px;
    background: tomato;
    margin: 0 4px;
}



