*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table{
    width: 800px;
    height: 800px;
    border: 2px solid violet;
    margin: 0;
    color: white;
    text-align: center;
}
.head{
width: 100%;
height: 25%;
background: rgb(231, 177, 231);
}
.head_2{
    width: 80%;
    height: 60%;
    background: white;
    margin-left: 55px;
}
.head_2a{
    width: 70%;
    height: 40%;
    background: black;
    float: left;
    margin-top: 20px ;
    margin-left: 75px;
}
.head_2b{
    width: 45%;
    height: 35%;
    background: red;
    float: left;
    
    margin-left: 25px;
}
.head_2c{
    width: 45%;
    height: 35%;
    background: green;
    float: left;    
}
.menu{
    width: 100%;
    height: 3%;
    background: black;
    float: left;
    clear: both;
}
._menu{
    width: 100%;
    height: 15%;
}
.menu1{
    width: 25%;
    height: 100%;
    background: red;
    float: left;
}
.menu1a{
    width: 33.3%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 25px;
}
.menu1b{
    width: 33.3%;
    height: 60%;
    background: rgb(240, 177, 240);
    float: left;
    margin-top: 25px;}
.menu1c{
    width: 33.3%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 25px;
}
.menu2{
    width: 25%;
    height: 100%;
    background: orange;
    float: left;
}
.menu2_inside{
    width: 80%;
    height: 50%;
    background: white;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
}
.menu2a{
    width: 30%;
    height: 50%;
    background: red;
    float: left;
    margin: 13px 0 0 7px;
}
.menu2b{
    width: 30%;
    height: 50%;
    background: rgb(236, 172, 236);
    float: left;
    margin: 13px 0 0 0;
}
.menu2c{
    width: 30%;
    height: 50%;
    background: green;
    float: left;
    margin: 13px 0 0 0;
}
.menu3{
    width: 25%;
    height: 100%;
    background: rgb(224, 150, 224);
    float: left;
}
.menu3a{
    width: 33%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 25px;
}
.menu3b{
    width: 33%;
    height: 60%;
    background: red;
    float: right;
    margin-top: 25px;
}
.menu4{
    width: 25%;
    height: 100%;
    background: green;
    float: left;
}
.menu4_inside{
    width: 80%;
    height: 50%;
    background: white;
    float: left;
    margin-top: 25px;
    margin-left: 19px;
}
.menu4a{
    width: 45%;
    height: 40%;
    background: red;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.menu4b{
    width: 45%;
    height: 40%;
    background: green;
    float: left;
    margin-top: 5px;
}
.menu_end{
    width: 100%;
    height: 2%;
    background: black;
    float: left;
    clear: both;
}
.main{
    width: 100%;
    height: 40%;
    float: left;
}
.left{
    width: 33.3%;
    height: 100%;
    background: green;
    float: left;
    padding-left:20px ;
}
.left1{
    width: 80%;
    height: 25%;
    background: orange;
    float: left;
    margin-top: 50px;
    
}
.left2{
    width: 40%;
    height: 45%;
    background: red;
    float: left;
}
.left3{
    width: 40%;
    height: 45%;
    background: rgb(224, 165, 224);
    float: left;
}
.middle{
    width: 33.3%;
    height: 100%;
    background: red;
    float: left;
}
.cent_left{
    width: 33.3%;
    height: 60%;
    background: blue;
    float: left;
    margin-top: 128px;
}
.cent_left1{
    width: 85%;
    height: 40%;
    background: white;
    float: left;
    margin-left: 6px;
    margin-top: 5px;
}
.cent_left1ins{
    width: 80%;
    height: 60%;
    background: black;
    float: left;
    margin-top: 15px;
    margin-left: 6px;
}
.cent_left2{
    width: 85%;
    height: 40%;
    background: rgb(240, 180, 240);
    float: left;
    margin-left: 6px;
    margin-top: 15px;
}
.cent_left2ins1{
    width: 45%;
    height: 60%;
    background: red;
    float: left;
    margin-top: 20px;
    margin-left: 3px;
}
.cent_left2ins2{
    width: 45%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 20px;
}
.cent_middle{
    width: 33.3%;
    height: 60%;
    background: orange;
    float: left;
    margin-top: 128px;
}
.cent_middle1{
    width: 50%;
    height: 75%;
    background: red;
    float: left;
    margin-top: 20px;
}
.cent_middle2{
    width: 50%;
    height: 50%;
    background: rgb(235, 178, 235);
    float: left;
    margin-top: 40px;
}
.cent_right{
    width: 33.3%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 128px;
}
.right{
    width: 33.3%;
    height: 100%;
    background: blue    ;
    float: left;
}
.right1{
    width: 33.3%;
    height: 60%;
    background: white;
    float: left;
    margin-top: 55%;
}
.right1a{
    width: 100%;
    height: 10%;
    background: black;
    float: left;
}
.right1b{
    width: 33%;
    height: 60%;
    background: green;
    float: left;
    margin-top: 10px;
}
.right1c{
    width: 33%;
    height: 60%;
    background: red;
    float: right;
    margin-top: 10px;
}
.right2{
    width: 33.3%;
    height: 60%;
    background: orange;
    float: left;
    margin-top: 40%;
}
.right3{
    width: 33.3%;
    height: 60%;
    background: rgb(233, 175, 233);
    float: left;
    margin-top: 25%;
}
.right3text_down{
    width: 35%;
    height: 10%;
    background: black;
    clear: both;
}
.right3text_up{
    width: 35%;
    height: 10%;
    background: black;
    float: right;
    margin-top: 10px;
}
.right3a{
    width: 40%;
    height: 27%;
    background: red;
    float: left;
    margin-top: 25px;
    margin-left: 8px;
}
.right3b{
    width: 40%;
    height: 27%;
    background: green;
    float: left;
    margin-top: 25px;
}
.footer{
    width: 100%;
    height: 15%;
    background: black;
    float: left;
    clear: both;
}
